/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #548687;
    text-align: center;
}

.game-container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: azure;
}
.status {
    font-size: 20px;
    margin-bottom: 10px;
    /* display: inline-block; */
    transition: transform 0.5s ease-in-out;
}
#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#reset-btn:hover {
    background-color: #2e2c2c;
}

.status.highlight {
    animation: highlight 1s ease-in-out;
    color: #ff0000;
}

@keyframes highlight {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
